body{
  text-align: center;
  background-color: #283149;
}
h1{
  font-size: 5rem;
  color: #DBEDF3;
  font-family: 'Arvo', serif;
  text-shadow: 3px 0 #DA0463;
}
footer{
  color: #DBEDF3;
  font-family: sans-serif;
}
.set{
  margin: 10% auto;
}
.pressed{
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}
.red{
  color: red;
}
.drum{
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', serif;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
}
.w{
  background-image: url("images/tom-1.jpeg");
  background-size: 150px 150px;
}
.a{
  background-image: url("images/tom-2.jpg");
  background-size: 150px 150px;
}
.s{
  background-image: url("images/tom-3.jpg");
  background-size: 150px 150px;
}
.d{
  background-image: url("images/tom-4.jpg");
  background-size: 150px 150px;
}
.j{
  background-image: url("images/snare.jpg");
  background-size: 150px 150px;
}
.k{
  background-image: url("images/kick.png");
  background-size: 150px 150px;
}
.l{
  background-image: url("images/crash.jpg");
  background-size: 150px 150px;
}
